################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/public-powershell-scripts/FileContentIndex
/.vs/public-powershell-scripts/v17
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
